.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border-color: black;
    background-color:rgb(206, 206, 223);
    width: fit-content;
    padding:20px;
}

.Input{
    border-radius: 5px;
    border-color:antiquewhite;
    background-color: aliceblue;
    text-align: center;
}